/*import Google's Roboto font and reset values*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgba(255, 255, 255, 0.2);
    --primary-color: #aa87ef;
    --secondary-color: #8436f5;
    --primary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --secondary-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --backdrop: blur(9px);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --border: 1px solid rgba(255, 255, 255, 0.02);
}

/*
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
border: 1px solid rgba(255, 255, 255, 0.02);
*/


body{
    background-image: url("../images/bgmhh.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-color);
}


html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);

}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 37.5rem;
    width: 37.5rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/*styling the skill-section*/
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    border-radius: 11px;
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    padding: 20px;
    margin: 10px;
}

/*Projects*/
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 11px;
    border: var(--border);
    padding: 20px;
    margin: 10px;
}

/*Contact-section*/
.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    box-shadow: var(--primary-shadow);
    background: var(--bg-color);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 11px;
    border: var(--border);
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/*socials*/
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/*footer*/
footer {
    background-color: var(--bg-color);
    box-shadow: var(--primary-shadow);
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: blur(9px);
    border: var(--border);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/*scroll-up-button*/
.scroll-up {
    position: fixed;
    z-index: 1;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 4rem;
    height: 4rem;
}